body {
    font-family: serif;
}

.represent {
    background-color: #f2f2f2;
}

footer {
    background-color: #1b3146;
    text-decoration-color: white;
}

.card {
    border-radius: 0;
    border: none;
}

.card-text {
    font-size: 1.8rem;
    margin-top: 5rem;
    margin-left: 15rem;
}

@media (max-width: 1115px){
    html {
      font-size: 1rem;
    }
    .card-text {
        margin-left: 1rem;
    }
}
  
@media (max-width: 770px){
    html {
      font-size: 1rem;
    }
    .card-text {
        display: none;
    }
}